In [9]:
import pandas as pd
import numpy as np
from sklearn.externals import joblib

In [2]:
data = {
    "D-Link_DIR-524": "-60",
    "HP-Print-10-LaserJet Pro MFP": "-78",
    "DESKTOP-DOG2APQ 2223": "-83",
    "trinity": "-92",
    "TP-LINK_9F86": "-90"
}
df = pd.DataFrame([data])

In [3]:
AP_list = ['D-Link_DIR-524','HP-Print-10-LaserJet Pro MFP','VLSIDESIGN_LAB','dlink','dlink_pksingh']

In [4]:
columns = df.columns.values.tolist()
x_df=pd.DataFrame()
for i in AP_list:
    if i in columns:
        x_df[i] = df[i]
while(x_df.shape[1] < 5):
        i = 5-x_df.shape[1]
        while(i<6):
            x_df["dummy"+str(i)]=np.nan
            i+=1

In [5]:
x_df.fillna(100, inplace=True)

In [6]:
x_df.columns = ['AP01','AP02','AP03','AP04','AP05']

In [7]:
dt = 'model_dt.pk'
rf = 'model_rf.pk'
loaded_model

  AP01 AP02   AP03   AP04   AP05
0  -60  -78  100.0  100.0  100.0